logging:
  level.root: WARN
  level.no: ${LOG_LEVEL:DEBUG}
  level.org.springframework: WARN
  level.org.springframework.web: WARN
  level.org.apache.jena: ERROR
server:
  port: 8080
application.cors.originPatterns: "${CORS_ORIGIN_PATTERNS}"
spring:
  data.mongodb:
    host: ${MONGODB_HOST}
    username: ${MONGODB_USER}
    password: ${MONGODB_PASSWORD}
    authentication-database: ${MONGODB_AUTH}
    replica-set-name: ${MONGODB_REPLICASET}
    port: 27017
    database: catalogComments
    auto-index-creation: true
  security.oauth2.resourceserver.jwt:
    jwk-set-uri: ${OIDC_JWKS:https://keycloak.staging.fellesdatakatalog.digdir.no/realms/fdk/protocol/openid-connect/certs}
    issuer-uri: ${OIDC_ISSUER:https://keycloak.staging.fellesdatakatalog.digdir.no/realms/fdk}
---
spring:
  config.activate.on-profile: develop
  data.mongodb:
    host: localhost
    username: admin
    password: admin
    authentication-database: admin
    replica-set-name: null
  security.oauth2.resourceserver.jwt.jwk-set-uri: https://keycloak.staging.fellesdatakatalog.digdir.no/realms/fdk/protocol/openid-connect/certs
application.cors.originPatterns: "*"
---
spring:
  config.activate.on-profile: integration-test
  data.mongodb:
    host: localhost
    username: testuser
    password: testpassword
    authentication-database: admin
    replica-set-name: null
  security.oauth2.resourceserver.jwt.jwk-set-uri: http://localhost:5050/auth/realms/fdk/protocol/openid-connect/certs
application.cors.originPatterns: "*"
