---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: catalog-comments-service
  name: catalog-comments-service
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: catalog-comments-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: catalog-comments-service
    spec:
      containers:
        - name: catalog-comments-service
          env:
            - name: MONGODB_USER
              valueFrom:
                secretKeyRef:
                  name: catalog-comments-service
                  key: MONGODB_USER
            - name: MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: catalog-comments-service
                  key: MONGODB_PASSWORD
            - name: MONGODB_HOST
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_HOST
            - name: MONGODB_REPLICASET
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_REPLICASET
            - name: MONGODB_AUTH
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_AUTH
            - name: OIDC_JWKS
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_JWKS
            - name: OIDC_ISSUER
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_ISSUER
            - name: CORS_ORIGIN_PATTERNS
              valueFrom:
                secretKeyRef:
                  name: catalog-comments-service
                  key: CORS_ORIGIN_PATTERNS
          image: catalog-comments-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "500Mi"
              cpu: "50m"
            limits:
              memory: "500Mi"
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
      restartPolicy: Always
